@charset "utf-8";
/*
* {
    padding: 0;
    margin: 0;
}
body {
    --line-of-chars:40;
    font-size: calc(100vw / (var(--line-of-chars)));
}
*/
img.icon {
    width: 1em;
    height: 1em;
}
footer {
    text-align:center;
}
body {
    font-size:max(16px, calc(100vw / 45));
    line-height:1.7em;
    letter-spacing:0.05em;
    color:#000;
    background-color:#ddd;
    font-family: 'Noto Serif JP', 'Source Han Serif JP', 'Noto Color Emoji', serif; 
}
h1,h2,h3,h4,h5,h6,th,label,caption,legend,code { font-family: 'Noto Sans JP', 'Source Han Sans JP', 'Noto Color Emoji', sans-serif; }
em {
    font-style: normal;
    text-emphasis: var(--em-style) var(--em-color);
    -webkit-text-emphasis: var(--em-style) var(--em-color);
}
textarea {
    outline: 1px #ff0000 dashed;
}
textarea:focus {
    outline: 2px #ff0000 solid;
}
textarea:read-only {
    outline: 1px #000000 dashed;
    background-color:#EEEEEE;
}
textarea:read-only:focus {
    outline: 2px #000000 solid;
    background-color:#EEEEEE;
}
textarea.dragging-file {
    outline: 1px #ff0000 dashed;
    background-color: #FFEEEE;
}
textarea.dragging-file:focus {
    outline: 2px #ff0000 solid;
    background-color: #FFCCCC;
}
textarea.dragging-file:read-only {
    outline: 1px #000000 dashed;
    background-color:#EEEE00;
}
textarea.dragging-file:read-only:focus {
    outline: 2px #000000 solid;
    background-color:#EEEE00;
}
/*
*/

/*
textarea:not(.dragging-file) {
    outline: 1px #ff0000 dashed;
}
textarea:not(.dragging-file):focus {
    outline: 2px #ff0000 solid;
}
textarea:not(.dragging-file):read-only {
    outline: 1px #000000 dashed;
    background-color:#EEEEEE;
}
textarea:not(.dragging-file):read-only:focus {
    outline: 2px #000000 solid;
    background-color:#EEEEEE;
}
textarea.dragging-file {
    outline: 1px #ff0000 dashed;
    background-color: #FFFF00;
}
textarea.dragging-file:focus {
    outline: 2px #ff0000 solid;
    background-color: #FF0000;
}
textarea.dragging-file:read-only {
    outline: 1px #000000 dashed;
    background-color:#EEEE00;
}
textarea.dragging-file:read-only:focus {
    outline: 2px #000000 solid;
    background-color:#EEEE00;
}
*/
